.reg-contact{
    .top{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        h4{
            margin-left: 25%;
        }
    }
    .info{
        h2{
            
        }
    }
}