.reg-perfil {
    padding: 20px;
    height: 100%;

    .top-P {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;

        h4 {
            text-align: end;
            margin-left: 30%;
            font-size: 12px;
        }
    }

    .info-P {
        margin: 20px;
        text-align: center;

        h2 {
            font-size: 21px;
            font-weight: 600;
            letter-spacing: normal;
        }
    }

    .formulario-P {
        width: 88%;
        margin: 10% 6%;
        // margin-top: 4%;
        // margin-left: 6%;
        font-size: 11px;
        display: flex;
        flex-direction: column;

        .input-foto {
            // position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            border: 2px solid #2BBEE2;
            border-radius: 999px;
            flex-direction: column;
            width: 150px;
            height: 150px;
            justify-content: center;
            margin: 0 auto;
            text-align: center;
            label{
                display: flex;
                flex-direction: column;
            }
            img{
                margin: -15px auto 0;
                width: 70%;
            }
            p {
                color: #2BBEE2;
                font-size: 14px;
                margin-top: -20px;
            }
            #foto-P {
                // width: 150px;
                // height: 150px;
                // border: 2px solid #2BBEE2;
                // border-radius: 999px;
                // text-align: center;
                // margin-left: 70px;
                // box-sizing: border-box;
                opacity: 0;
                position: absolute;
                z-index: 1;
                cursor: pointer;
                // align-items: center;
            }

            .material-symbols-outlined {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                font-size: 80px;
                color: #ccc;
                pointer-events: none;
            }
            input[type="file"]{
                cursor: pointer;
            }
        }

        #name-P {
            width: 100%;
            height: 40px;
            margin-bottom: 6%;
            border: none;
            border-bottom: 1px solid rgba(89, 95, 101, 0.452);
        }

        #email-P {
            width: 100%;
            height: 40px;
            margin-bottom: 6%;
            border: none;
            border-bottom: 1px solid rgba(89, 95, 101, 0.452);
        }

        #telefono-P {
            width: 100%;
            height: 40px;
            margin-bottom: 6%;
            border: none;
            border-bottom: 1px solid rgba(89, 95, 101, 0.452);
        }

        #pass-P {
            width: 100%;
            height: 40px;
            margin-bottom: 6%;
            border: none;
            border-bottom: 1px solid rgba(89, 95, 101, 0.452);
        }

        #guardar-P {
            
            margin-top: 50px;
            font-size: 16px;
            font-weight: 600;
            width: 100%;
            height: 40px;
            background-color: #2BBEE2;
            color: #FFFFFF;
            border: none;
            border-radius: 10px;
        }

        #guardar-P:disabled {
            background-color: #C4C4C4;
        }

        a {
            text-decoration: none;
        }

        #skip {
            width: 80%;
            margin: 40px 30px;

            color: #2BBEE2;
        }
    }
}