.back-button{
    background-color: white;
    // width: 40px;
    display: flex;
    color: #2BBEE2;
    button{
        color: #2BBEE2;
        border: none;
        padding: 0;
        // margin: 5%;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        background-color: inherit;
        font-size: 15px;
        // display: flex;
        
    }
}